@media screen and (max-width: 481px){
    /*For mobile devices*/

  
  
}
body {
    padding: 2%;
}
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
button:active {
    background: rgba(0, 0, 0, 0.445);
}
#chat {
    border: 2px dashed rgb(32, 71, 33);
    border-radius: 5px;
    width: 500px;
    height: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}
.rollbutton {
    background-color:  #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}
.chatbutton {
    background-color:  #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}
.dice {
    background-color:  rgb(206, 206, 206); /* Green */
    border: 0.5px solid black;
    border-radius: 6px;
    color: black;
    padding: 2%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 3px;
}
#joinprivateroom {
    border: solid 2px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
#createroom {
    border: solid 2px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}